.App {
  text-align: center;
}



#navbar {

   text-align: center;
   
   
   display: flex;
   justify-content: center;
   margin: auto;
}
.done{
  text-decoration: line-through;
}

.App.dark {
  background-color: #282c34;
  color: white;
}